# Server Configuration
SERVER_PORT=8080

# Database Configuration
DB_PATH=ytbloader.db

# Telegram Configuration
TELEGRAM_BOT_TOKEN=

# Discord Configuration
DISCORD_BOT_TOKEN=

# Mattermost Configuration
MATTERMOST_URL=
MATTERMOST_BOT_TOKEN=

# yt-dlp Configuration
YTDLP_PATH=yt-dlp
YTDLP_OUTPUT_DIR=./downloads